.main {
    background-image: url(../images/about/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding:200px;      
    background-color: rgba(000, 000, 000, 0.1);
    background-size:cover;
    background-position: center bottom;
}
.main h2{
    font-size: 7vw;
    color: #ffffff;
    text-transform:uppercase;
    text-align: center;
    text-shadow: 5px -5px 8px #000000;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}
    
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
      
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
      
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
      
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
      
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.para p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.2em;
    text-transform: none;
    color: #82868b;
}
.table {
    margin: 20px;
    align-items: center;
    border: none;
}
td {
    background-color: #d7d9f7;
    border-radius: 50px 20px;
    text-transform: none;
}
th {
    color: #29d9d5;
    font-size: 4em;
    margin-top: .5rem;
}
.button {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1em;
    color: #29d9d5;
    border: .2rem solid #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background-color: #e5f8fc;
    text-decoration: none;
}
.button:hover {
    color: white;
    background: #29d9d5;
}

